# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# Enrich Your Notebook With Interactive Controls


Post Link: [Substack](https://avichawla.substack.com/p/enrich-your-notebook-with-interactive)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/avi-chawla_python-datascience-jupyternotebook-activity-7001499142493495296-4aeM?utm_source=share&utm_medium=member_desktop)

In [1]:
from ipywidgets import interact
import pandas as pd

pd.options.plotting.backend = 'plotly'

In [3]:
df = pd.read_csv("../_Datasets/employee_dataset.csv")
df.head(2)

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4

In [4]:
@interact
def filter_company(company = list(df.Company_Name.unique())):

    return df[df.Company_Name == company].head()

interactive(children=(Dropdown(description='company', options=('White, Mcclain and Cobb', 'Scott Inc', 'Andrad…

In [5]:
@interact
def filter_rating(rating = (0, 5, 0.5)):

    return df[df.Employee_Rating>rating].head()

interactive(children=(FloatSlider(value=2.0, description='rating', max=5.0, step=0.5), Output()), _dom_classes…

In [6]:
@interact
def plot_city(city = list(df.Employee_City.unique())):

    filtered_df = df[df.Employee_City == city]
    
    ## create the plot on filtered data
    fig = filtered_df.plot(kind = "scatter", 
                           x = "Employee_Salary", 
                           y = "Employee_Rating", 
                           color = "Employment_Status",
                           size = "Credits")
    fig.show()

interactive(children=(Dropdown(description='city', options=('New Cindychester', 'Ricardomouth', 'North Melissa…