# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# Retrieve Previously Computed Output In Jupyter Notebook


Post Link: [Substack](https://avichawla.substack.com/p/retrieve-previously-computed-output)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/avi-chawla_python-datascience-jupyternotebook-activity-6993524524453408768-dxYa?utm_source=share&utm_medium=member_desktop)

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([["A", 1, 2], 
                   ["B", 3, 4],
                   ["C", 5, 6], 
                   ["A", 7, 8]], columns = ["col1", "col2", "col3"])
df.head()

  col1  col2  col3
0    A     1     2
1    B     3     4
2    C     5     6
3    A     7     8

In [3]:
df.groupby("col1").col2.mean().reset_index()

  col1  col2
0    A   4.0
1    B   3.0
2    C   5.0

In [4]:
Out[3]

  col1  col2
0    A   4.0
1    B   3.0
2    C   5.0

In [5]:
Out

{2:   col1  col2  col3
 0    A     1     2
 1    B     3     4
 2    C     5     6
 3    A     7     8,
 3:   col1  col2
 0    A   4.0
 1    B   3.0
 2    C   5.0,
 4:   col1  col2
 0    A   4.0
 1    B   3.0
 2    C   5.0}

In [6]:
type(Out)

dict