# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# Why you should not dump DataFrames to a CSV

Post Link: [Substack](https://avichawla.substack.com/p/why-you-should-not-dump-dataframes)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/avi-chawla_datascience-python-pandas-activity-6985486493343465472-ysLo?utm_source=share&utm_medium=member_desktop)

In [1]:
df = pd.read_csv("../_Datasets/random_data.csv")
df.head()

,C0,intcol_1,intcol_2,intcol_3,intcol_4,intcol_5,intcol_6,intcol_7,intcol_8,intcol_9,...,strcol6,strcol7,strcol8,strcol9,strcol10,strcol11,strcol12,strcol13,strcol14,strcol15
0,0,629546,442260,389214,635686,289129,912029,715590,79558,506208,...,nt4WFLERleixBSDZhhKBfY5,DiR3Uzqjx3KqaT,NKxyoi49WYB3Y1NbVDg,3AdhkV4uSm3g2ECw,k9RDt0q0YnFFI7TXeuKCa,6GvE15L,CcxD11kUuzpk5NHae,MwDpki41,Oy7YfDUteW1QN,pe5Fs9DioMG1kw6g14A
1,1,650169,445749,665159,386977,382261,283381,916643,712778,132990,...,Rj9vugo2cf,lUmC6Aii0dStE1q7x,aN5hZqWBoa8jYn,cMz8tJMGWa23Ikca,8VRxFdhAB0gvhiv4qAZQtQvv,vfzobXtQl3ViAF,05KMiuFCDRgE1ZwRQhL,yaSZQMaidxvo,NADZS,U7Ww8Vgez6Fk2jtyz
2,2,188568,26298,415460,204051,800327,660064,852586,866171,606723,...,RZ2fd1,kBWGlOKn,YFXtpGNyl3C,Dpyr5OBWpdAn,n9JoLiIalcqF,5a7XJ,vVw3UOen6XCBVyA2kDDkG,K1FGaqEZ,5WEH71bxioEYbZB2FwGc,FwfpE7avCPyxzcE3bAN
3,3,47146,452421,883946,348592,515162,303613,532671,457386,943242,...,eMdjaMZqS7RzHvkBjw1wCNH,zhLiHy1G340g4eG6QY,dXLBwxNNoPKEwByCsD,Fe9ZK4d1MiC,EBoQTfq0TJLOrf,TG2CiMJp28hN70MwjDC,r09J4Ggf7,lAauOtgmB,x0kPSjKLRNjN2Z,kuFw3pv1tC
4,4,105256,805383,455437,817518,356905,943969,448293,106369,411058,...,dHx4iF448bf8ysjb16p,nWzpVaasHfy5jsFPm6J2A3Z,5YOmzm8zjdctq,WNHknW6u8SRx6EfjWAyau2AS,lYzzC58USXSTtIdkkBfIU,vRSUnlK21nq03O8rtBvG3Dw,PfMTEfIS0zikE5DfwEBzHApq,ZycMvu,KG9YFYkP3V,bmjW9fLX4DEv

## Dump to CSV

In [2]:
%time df.to_csv("../_Datasets/dump_to_csv.csv")

CPU times: user 8.29 s, sys: 640 ms, total: 8.93 s
Wall time: 9.44 s

In [3]:
!rm ../_Datasets/dump_to_csv.csv

## Dump to Pickle

In [6]:
%time df.to_pickle("../_Datasets/dump_to_pickle.pickle")

CPU times: user 3.98 s, sys: 1.87 s, total: 5.85 s
Wall time: 6.55 s

In [7]:
!rm ../_Datasets/dump_to_pickle.pickle

## Dump to Parquet

In [8]:
%time df.to_parquet("../_Datasets/dump_to_parquet.parquet")

CPU times: user 1.76 s, sys: 584 ms, total: 2.34 s
Wall time: 2.96 s

In [9]:
!rm ../_Datasets/dump_to_parquet.parquet

### Further reading: [Why I Stopped Dumping DataFrames to a CSV and Why You Should Too.](https://towardsdatascience.com/why-i-stopped-dumping-dataframes-to-a-csv-and-why-you-should-too-c0954c410f8f)