# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# Three Lesser-known Tips For Reading a CSV File Using Pandas

Post Link: [Substack](https://avichawla.substack.com/p/three-lesser-known-tips-for-reading)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/avi-chawla_python-datascience-pandas-activity-7008745715367571456-e8oc?utm_source=share&utm_medium=member_desktop)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../_Datasets/employee_dataset.csv")
df.shape

(1000, 9)

## Read first 10 rows

In [3]:
df = pd.read_csv("../_Datasets/employee_dataset.csv", nrows = 10)
df.shape

(10, 9)

In [4]:
df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4
2,Laura Flynn,Andrade LLC,Equities trader,North Melissafurt,Tonga,606900,Intern,0.3,3
3,Stefanie Archer,James and Sons,Retail merchandiser,Ricardomouth,San Marino,775380,Full Time,2.8,5
4,Sierra Garcia,Matthews Inc,Armed forces logistics/support/administrative ...,Whitakerbury,Nepal,944480,Full Time,4.5,4
5,Donna Miller,Andrade LLC,Garment/textile technologist,West Jamesview,Tonga,428090,Intern,1.1,4
6,Linda Rodriguez,Marshall-Holloway,Optometrist,Whitakerbury,Portugal,645690,Full Time,4.7,5
7,Jonathan Gibson,Scott Inc,Naval architect,Whiteside,Libyan Arab Jamahiriya,483210,Intern,3.4,1
8,Karl Henry,"Campos, Reynolds and Mccormick","Radiographer, therapeutic",Whiteside,Kyrgyz Republic,586480,Full Time,3.7,2
9,Katherine Sims,"Baker, Allen and Edwards",Regulatory affairs officer,Kristaburgh,Haiti,712320,Full Time,3.0,2

## Read few columns

In [5]:
df = pd.read_csv("../_Datasets/employee_dataset.csv", usecols = ["Name", "Employee_Rating"])
df.shape

(1000, 2)

## Skip first 5 rows

In [6]:
df = pd.read_csv("../_Datasets/employee_dataset.csv", skiprows = 5)
df.shape

(995, 9)

## Skip 1st and 5th rows

In [7]:
df = pd.read_csv("../_Datasets/employee_dataset.csv", skiprows = [1,5])
df.shape

(998, 9)