# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# A Lesser-Known Feature of Apply Method In Pandas

Post Link: [Substack](https://avichawla.substack.com/p/a-lesser-known-feature-of-apply-method)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/avi-chawla_python-datascience-pandas-activity-7013454040646709249-svKS?utm_source=share&utm_medium=member_desktop)

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,3,2], [4,6,3]], columns = list("ABC"))
df

   A  B  C
0  1  3  2
1  4  6  3

In [3]:
def my_func(row):
    return max(row), min(row)

## Series of Tuple

In [5]:
df.apply(my_func, axis = 1)

0    (3, 1)
1    (6, 3)
dtype: object

## Pandas DataFrame

In [4]:
df.apply(my_func, axis = 1, result_type="expand")

   0  1
0  3  1
1  6  3