# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# If You Are Not Able To Code A Vectorized Approach, Try This.

Post Link: [Substack](https://avichawla.substack.com/p/if-you-are-not-able-to-code-a-vectorized)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/feed/update/urn:li:activity:7040630377685618688/)

In [2]:
import pandas as pd
df = pd.read_parquet("../_Datasets/employee_dataset.parquet")

In [3]:
df = df.reset_index(drop = True)

In [4]:
df = df[df.index<100000]
df.head()

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4
2,Laura Flynn,Andrade LLC,Equities trader,North Melissafurt,Tonga,606900,Intern,0.3,3
3,Stefanie Archer,James and Sons,Retail merchandiser,Ricardomouth,San Marino,775380,Full Time,2.8,5
4,Sierra Garcia,Matthews Inc,Armed forces logistics/support/administrative ...,Whitakerbury,Nepal,944480,Full Time,4.5,4

#### 1) iterrows()

In [5]:
%timeit [row.Employee_Salary*(1 + row.Credits) for index, row in df.iterrows()]

2.62 s ± 23.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

#### 2) apply()

In [7]:
%timeit df.apply(lambda row: row.Employee_Salary*(1 + row.Credits), axis = 1)

901 ms ± 5.06 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

#### 3) itertuples()

In [7]:
%timeit [row.Employee_Salary*(1 + row.Credits) for row in df.itertuples()]

87.3 ms ± 486 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

#### 4) to_numpy()

In [8]:
%timeit np_arr = df.to_numpy(); [row[5]*(1 + row[-1]) for row in np_arr]

28.3 ms ± 311 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

#### 5) to_dict()

In [9]:
%timeit df_dict = df.to_dict("records"); [row["Employee_Salary"]*(1 + row["Credits"]) for row in df_dict]

429 ms ± 5.71 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)