# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# Write Your Own Flavor Of Pandas


Post Link: [Substack](https://avichawla.substack.com/p/write-your-own-flavor-of-pandas)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/avi-chawla_python-datascience-pandas-activity-7002952103019048960-xdCC?utm_source=share&utm_medium=member_desktop)

In [2]:
!pip install pandas-flavor

Requirement already satisfied: pandas-flavor in /Users/avi/anaconda3/lib/python3.9/site-packages (0.3.0)
Requirement already satisfied: lazy-loader==0.1rc2 in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas-flavor) (0.1rc2)
Requirement already satisfied: pandas>=0.23 in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas-flavor) (1.5.0)
Requirement already satisfied: xarray in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas-flavor) (0.20.1)
Requirement already satisfied: numpy>=1.20.3 in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas-flavor) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas-flavor) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas-flavor) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/avi/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-flavor) (1.16.0)

In [3]:
import pandas as pd
import pandas_flavor as pf

In [4]:
df = pd.DataFrame([["Mercury", 1],
                   ["Venus", 2]], 
                  columns = ["Planets", "Position"])

df

   Planets  Position
0  Mercury         1
1    Venus         2

In [5]:
@pf.register_dataframe_method
def add_rows(df, rows):

    for row in rows:
        df.loc[df.shape[0]] = row

In [6]:
new_rows = [["Earth", 3], 
            ["Mars" , 4]]

In [7]:
df.add_rows(new_rows)

In [8]:
df

   Planets  Position
0  Mercury         1
1    Venus         2
2    Earth         3
3     Mars         4