# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# Generate Helpful Hints As You Write Your Pandas Code

Post Link: [Substack](https://avichawla.substack.com/p/generate-helpful-hints-as-you-write)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/feed/update/urn:li:activity:7033024376195137536/)

In [1]:
!pip install dovpanda

Requirement already satisfied: dovpanda in /Users/avi/anaconda3/lib/python3.9/site-packages (0.0.5)
Requirement already satisfied: pandas in /Users/avi/anaconda3/lib/python3.9/site-packages (from dovpanda) (1.5.0)
Requirement already satisfied: numpy>=1.20.3 in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas->dovpanda) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas->dovpanda) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas->dovpanda) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/avi/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->dovpanda) (1.16.0)

In [2]:
import pandas as pd
import dovpanda

2023-02-19 17:44:40,336 [42870] WARNING  py.warnings:109: [JupyterRequire] /Users/avi/anaconda3/lib/python3.9/inspect.py:351: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)

2023-02-19 17:44:40,336 [42870] WARNING  py.warnings:109: [JupyterRequire] /Users/avi/anaconda3/lib/python3.9/inspect.py:351: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)

2023-02-19 17:44:40,337 [42870] WARNING  py.warnings:109: [JupyterRequire] /Users/avi/anaconda3/lib/python3.9/inspect.py:351: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)

AttributeError: module 'pandas.core.indexing' has no attribute '_NDFrameIndexer'

In [4]:
df = pd.DataFrame([[1,2],[3,4]], columns = ["A","B"])

In [5]:
def apply_func(row):
    pass

In [6]:
iter_df = df.iterrows()

* =====(Line 1) df.iterrows is not recommended. Essentially it is very similar to iterating the rows of the frames in a loop. In the majority of cases, there are better alternatives that utilize pandas' vector operation =====

In [7]:
df["new_col"] = df.apply(apply_func)

* =====(Line 1) df.apply is not recommended. Essentially it is very similar to iterating the rows of the frames in a loop. In the majority of cases, there are better alternatives that utilize pandas' vector operation =====

In [8]:
merged_df = pd.concat((df, df))

* =====(Line 1) All dataframes have the same columns and same number of rows. Pay attention, your axis is 0 which concatenates vertically =====

* =====(Line 1) After concatenation you have duplicated indices - pay attention =====

In [9]:
pd.read_csv("../_Datasets/employee_dataset.csv")

* =====(Line 1) Dataframe has 1000 rows. Column Company_Name has only 15 values which suggests it's a categorical feature.
After df is created, Consider converting it to categorical by using df['Company_Name'] = df['Company_Name'].astype('category') =====

* =====(Line 1) Dataframe has 1000 rows. Column Employee_Job_Title has only 19 values which suggests it's a categorical feature.
After df is created, Consider converting it to categorical by using df['Employee_Job_Title'] = df['Employee_Job_Title'].astype('category') =====

* =====(Line 1) Dataframe has 1000 rows. Column Employee_City has only 10 values which suggests it's a categorical feature.
After df is created, Consider converting it to categorical by using df['Employee_City'] = df['Employee_City'].astype('category') =====

* =====(Line 1) Dataframe has 1000 rows. Column Employee_Country has only 243 values which suggests it's a categorical feature.
After df is created, Consider converting it to categorical by using df['Employee_Country'] = df['Employee_Country'].astype('category') =====

* =====(Line 1) Dataframe has 1000 rows. Column Employment_Status has only 2 values which suggests it's a boolean feature.
After df is created, Consider converting it to boolean by using df['Employment_Status'] = (df['Employment_Status'] == 'Full Time') =====

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4
2,Laura Flynn,Andrade LLC,Equities trader,North Melissafurt,Tonga,606900,Intern,0.3,3
3,Stefanie Archer,James and Sons,Retail merchandiser,Ricardomouth,San Marino,775380,Full Time,2.8,5
4,Sierra Garcia,Matthews Inc,Armed forces logistics/support/administrative ...,Whitakerbury,Nepal,944480,Full Time,4.5,4
...,...,...,...,...,...,...,...,...,...
995,Mark Gordon,"Baker, Allen and Edwards",Optometrist,Wardfort,Indonesia,516950,Full Time,4.5,4
996,Courtney Bell,Andrade LLC,Sales promotion account executive,Kristaburgh,Holy See (Vatican City State),257400,Intern,2.8,3
997,Kathleen Lamb,"Wallace, Smith and Shepard",Administrator,Kristaburgh,Afghanistan,861920,Full Time,1.2,2
998,Renee Davis,Nichols-James,Administrator,Aliciafort,Slovenia,848830,Full Time,5.0,3
999,Lindsey Sullivan,"Baker, Allen and Edwards",Garment/textile technologist,North Melissafurt,Chile,504680,Full Time,0.1,2