# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# A Hidden Feature of Describe Method In Pandas


Post Link: [Substack](https://avichawla.substack.com/p/a-hidden-feature-of-describe-method)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/avi-chawla_python-datascience-pandas-activity-6999321839743184896-Zkp9?utm_source=share&utm_medium=member_desktop)

In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame([[1, 2, 'A', 'D'],
                   [3, 4, 'B', 'E'],
                   [5, 6, 'A', 'E']], 
                   columns = ['col1', 'col2', 'col3', 'col4'])

In [7]:
df

   col1  col2 col3 col4
0     1     2    A    D
1     3     4    B    E
2     5     6    A    E

In [8]:
df.describe() ## No categorical columns

       col1  col2
count   3.0   3.0
mean    3.0   4.0
std     2.0   2.0
min     1.0   2.0
25%     2.0   3.0
50%     3.0   4.0
75%     4.0   5.0
max     5.0   6.0

In [10]:
df.describe(include = "all") ## Includes categorical columns

        col1  col2 col3 col4
count    3.0   3.0    3    3
unique   NaN   NaN    2    2
top      NaN   NaN    A    E
freq     NaN   NaN    2    2
mean     3.0   4.0  NaN  NaN
std      2.0   2.0  NaN  NaN
min      1.0   2.0  NaN  NaN
25%      2.0   3.0  NaN  NaN
50%      3.0   4.0  NaN  NaN
75%      4.0   5.0  NaN  NaN
max      5.0   6.0  NaN  NaN