# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# Create Pivot Tables, Aggregations and Plots Without Any Code


Post Link: [Substack](https://avichawla.substack.com/p/create-pivot-tables-aggregations)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/avi-chawla_python-datascience-dataanalysis-activity-7000056055313371136-vaot?utm_source=share&utm_medium=member_desktop)

In [1]:
!pip install pivottablejs

Requirement already satisfied: pivottablejs in /Users/avi/anaconda3/lib/python3.9/site-packages (0.9.0)

In [2]:
import pandas as pd
from pivottablejs import pivot_ui

In [3]:
df = pd.read_csv("../_Datasets/employee_dataset.csv")
df.head()

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4
2,Laura Flynn,Andrade LLC,Equities trader,North Melissafurt,Tonga,606900,Intern,0.3,3
3,Stefanie Archer,James and Sons,Retail merchandiser,Ricardomouth,San Marino,775380,Full Time,2.8,5
4,Sierra Garcia,Matthews Inc,Armed forces logistics/support/administrative ...,Whitakerbury,Nepal,944480,Full Time,4.5,4

In [4]:
from pivottablejs import pivot_ui
pivot_ui(df)

In [5]:
from IPython.display import Video

In [6]:
Video("../_Extras/PivotTableJS Video.mp4")

### Further Reading: [Introducing PivotUI: Never Use Pandas To GroupBy and Pivot Your Data Again](https://medium.com/towards-data-science/introducing-pivotui-never-use-pandas-to-groupby-and-pivot-your-data-again-ed0fcf95b6ed)