# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# Speed-up Pandas Apply 5x with NumPy

Post Link: [Substack](https://avichawla.substack.com/p/speed-up-pandas-apply-5x-with-numpy)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/activity-7015258640626421760-gDpY?utm_source=post_nba&utm_medium=member_desktop&utm_campaign=copy)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(1, 100, (10**7, 4)), columns = list("ABCD"))
df.head()

    A   B   C   D
0  73  81  92  54
1   7  98  60  70
2  52  75  40  31
3  82  50  85  89
4  40  57   3   7

In [5]:
def assign_class(num):
    if num<10:
        return "Class A"
    if num<50:
        return "Class B"
    return "Class C"

### Pandas Apply

In [6]:
%%timeit 

a = df.A.apply(assign_class)

1.06 s ± 77.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### NumPy Select

In [7]:
%%timeit

condlist   = [df["A"]<10, df["A"]<50]
choicelist = ["Class A" , "Class B" ]

np.select(condlist, choicelist, "Class C")

266 ms ± 39.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)