# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# Define the Correct DataType for Categorical Columns

Post Link: [Substack](https://avichawla.substack.com/p/define-the-correct-datatype-for-categorical)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/avi-chawla_datascience-python-pandas-activity-6984052112275959809-QfyU?utm_source=share&utm_medium=member_desktop)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../_Datasets/titanic_train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.Gender.dtype

dtype('O')

In [4]:
df.Gender.info(memory_usage="deep")

<class 'pandas.core.series.Series'>
RangeIndex: 1500 entries, 0 to 1499
Series name: Gender
Non-Null Count  Dtype
--------------  -----
1500 non-null   object
dtypes: object(1)
memory usage: 90.5 KB

In [5]:
df["Gender"] = df.Gender.astype("category")

In [6]:
df.Gender.info(memory_usage="deep")

<class 'pandas.core.series.Series'>
RangeIndex: 1500 entries, 0 to 1499
Series name: Gender
Non-Null Count  Dtype
--------------  -----
1500 non-null   category
dtypes: category(1)
memory usage: 1.8 KB

## Read my full Medium article on Memory Optimization: https://towardsdatascience.com/seven-killer-memory-optimization-techniques-every-pandas-user-should-know-64707348ab20